/* src/index.css */

@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

.navbar-brand {
  font-size: 5rem !important;
}

.cursive {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  font-size: 5rem;
}
.kalam{
  font-family: "priori-sans, sans-serif";
  font-size: 2rem;
}
.italics{
  color: pink;
  font-size:1.5rem;
  font-family: "sans-serif";
}
.sans{
  font-size: 1.5rem;
  font-family: "sans-serif";
}
.sans2{
  font-size: 1.5rem;
  font-family: "Allan";
}
.black{
  color: white;
  background-color: black;
}
.contentcard{
  font-size:2rem;
  font-family: "priori-sans, sans-serif";
  background-color: rgba(165, 137, 137, 0.199);
}
.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

#navigation-nav {
  margin-left: 10rem;
  margin-right: 10rem;
  font-size: 1.5rem;
}
.navbar-nav {
  font-size: 1.5rem;
}
.card {
  width: 35rem;
  height: 14rem;
}
.secondcard {
  width: 800vw;
}
.allpostsimage {
  object-fit: cover;
  height: 50vw;
}
.sectiontwoimage {
  height: 45vh;
  width: 25vw;
}
.center{
  text-align: center;
}
.imagecard p{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.btn{
  place-items: center;
}